@model IEnumerable<mosh_practice.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("Create New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
            <th scope="col">Edit</th>
            <th scope="col">Detail</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.Genre.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, new { @class = "btn btn-default" })</td>
            <td>@Html.ActionLink("Detail", "Details", "Movies", new { id = movie.Id }, new { @class = "btn btn-default" })</td>
            <td>
                @using (Html.BeginForm("Delete", "Movies", FormMethod.Post))
                {
                    @Html.Hidden("id", movie.Id)
                    <input type="submit" value="delete" class="btn btn-default" />
                }
            </td>
        </tr>
        }

    </tbody>
</table>

