@model IEnumerable<mosh_practice.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Customer</h2>
@Html.ActionLink("Create New Customer", "New", "Customers",null,new { @class = "btn btn-primary" })
@if (Model.Count() == 0)
{
    <p>We don't have any customers yet</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Discount Rate</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Edit</th>
                <th scope="col">Detail</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, new { @class = "btn btn-default" })</td>
                    <td>@Html.ActionLink("Detail", "Details", "Customers", new { id = customer.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Customers", FormMethod.Post))
                        {
                            @Html.Hidden("id", customer.Id)
                            <input type="submit" value="delete" class="btn btn-default" />
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

}



